.currentArtDefContainer{
    height: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 75px 75px calc(100% - 150px);
    grid-template-columns: 20% 60% 20%;
    overflow: hidden;
    color: white;
}
.currentArtDefContainer > div{
    margin: 5px;
}
.currentArtDefIconContainer{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.currentArtDefTitle{
    height: 20px;
}
.currentArtDefValue{
    height: 45px;
}

.currentArtDefIconGrid{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.currentArtDefNameContainer{
    grid-column: 2;
    grid-row: 1;
}
.currentArtDefDescContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}
.currentArtDefCreateContainer{
    grid-column: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.currentArtDefCancelContainer{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.currentArtDefAttrListContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    grid-template-rows: 20px calc(100% - 25px);
    row-gap: 5px;
}
.currentArtDefAttrListTitle{
    grid-column: 1;
    grid-row: 1;
}
.currentArtDefAttrDel{
    grid-column: 2;
    grid-row: 1;
}
.currentArtDefAttrAdd{
    grid-column: 3;
    grid-row: 1;
}
.currentArtDefAttrList{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
}

