.artefactContainer{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    overflow: hidden;
    transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    overflow: hidden;
}
.acUnselected{
    height: 49px;
}
.acSelected{
    height: 200px;
}



.artefactHeadersContainer{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    overflow: hidden;
}
.adhcSelected{
    height: 70px;
    min-height: 70px;
}
.adhcUnselected{
    height: 47px;
    min-height: 47px;
}
.artefactHeaders{
    display: flex;
    flex-direction: row;
}
.artefactValuesHeader{
    height: 100%;
    width: 200px;
}
.artefactDescHeader{
    height: 100%;
    width: calc(100% - 200px);
}


.artefactShowInfo{
    height: 45px;
    min-height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
}
.artefactShowInfo :hover{
    cursor: pointer;
}
.artefactDefinition{
    height: 100%;
    width: 200px;
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns: 40px 160px;
}
.artefactDefinitionName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artefactName{
    height: 100%;
    width: calc(100% - 200px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.artefactExtraInfo{
    height: calc(100% - 65px);
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
}
.artefactAttributesInfo{
    height: 100%;
    width: 200px;
}
.artefactDescInfo{
    height: 100%;
    width: calc(100% - 200px);
}