.relDefEditorContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px;
}
.relDefEditorContainer > *{
    width: 100%;
}
.relDefAddContainer{
    height: 50px;
}
.dpa_open{
    /* Firefox */
    -moz-transform:rotate(0deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(0deg);
    /* Opera */
    -o-transform:rotate(0deg);
    /* IE9 */
    -ms-transform:rotate(0deg);
    transform: rotate(0deg);
}
.dpa_closed{
    /* Firefox */
    -moz-transform:rotate(-90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-90deg);
    /* Opera */
    -o-transform:rotate(-90deg);
    /* IE9 */
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
}
.relDefEditContainer{
    border-radius: 5px;
}
.crdcOpen{
    height: 100%;
}
.currentRelDefContainer > div{
    margin: 5px;
}
.currentRelDefIconContainer{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.currentRelDefTitle{
    height: 20px;
}
.currentRelDefValue{
    height: 45px;
}


.animHeight{
    
    transition: height 500ms ease-out;
    -moz-transition: height 500ms ease-out;
    -o-transition: height 500ms ease-out;
    -ms-transition: height 500ms ease-out;
    -webkit-transition: height 500ms ease-out;
}
.rdlcUp{
    height: calc(100% - 100px);
}
.pePanelClosed{
    height: 0px;
    overflow: hidden;
}
.relDefListTitleContainer{
    height: 50px;
    display: grid;
    grid-template-columns: 50px calc(100% - 100px) 50px;
}
.relDefListTitle{
    font-weight: bold;
}
.relDefListHeadersContainer{
    height: 30px;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    color: white;
}
.relDefListHeader{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.relDefList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}